<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.coffeecart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="edu.gatech.coffeecart.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gatech.coffeecart.VipActivity"
            android:label="@string/title_activity_vip"
            android:parentActivityName="edu.gatech.coffeecart.MainActivity" >
        </activity>
        <activity
            android:name="edu.gatech.coffeecart.CoffeeActivity"
            android:label="@string/title_activity_coffee"
            android:parentActivityName="edu.gatech.coffeecart.MainActivity" >
        </activity>
        <activity
            android:name="edu.gatech.coffeecart.DessertActivity"
            android:label="@string/title_activity_dessert"
            android:parentActivityName="edu.gatech.coffeecart.MainActivity" >
        </activity>
        <activity
            android:name="edu.gatech.coffeecart.ReportActivity2"
            android:label="@string/title_activity_report_activity2" 
             android:parentActivityName="edu.gatech.coffeecart.MainActivity">
        </activity>
        <activity
            android:name="edu.gatech.coffeecart.VipActivity2"
            android:label="@string/title_activity_vip_activity2"
 			android:parentActivityName="edu.gatech.coffeecart.MainActivity">
        </activity>
        <activity
            android:name="edu.gatech.coffeecart.VipListFragment"
            android:label="@string/title_activity_vip_list_fragment" 
             android:parentActivityName="edu.gatech.coffeecart.VipActivity2">
        </activity>
        <activity
            android:name="edu.gatech.coffeecart.VipEditFragment"
            android:label="@string/title_activity_vip_edit_fragment" 
             android:parentActivityName="edu.gatech.coffeecart.VipListFragment">
        </activity>
    </application>

</manifest>
